#form {
  /*background-color: yellow;*/
  width: 95%;
  height: 150px;
  padding: 30px 0px 0px 55px;
  margin-top: 8px;
}

label {
  padding: 0px 50px 0px 0px; 
}

#nome {
  padding: 0px 50px 0px 0px;
  margin-left: 30px;
}

#endereco {
  padding: 0px 50px 0px 0px;
  margin-left: 9px;
}

#cidade {
  padding: 0px 50px 0px 0px;
  margin-left: 24px;
}